main {
  height: 200vh;
}

/* твой код */
.navbar {
  background-color: rgb(102,102,102);
  padding: 10px;
  margin: 0px;
  position: sticky;
  top: 10px;
}
.navbar a {
  color: #fff;
  font-family: NarrowNews;
  list-style-type: none;
  padding: 0px;
  margin: 30px;
}
  .navbar li {
    display: inline;
  }
  
  
@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 