main {
  height: 200vh;
}
.navbar {
  background-color: rgb(102,102,102);
  margin: 7px;
  padding: 7px;
  border-radius: 40px;
}






@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 

  } 