main {
  height: 200vh;
}

/* твой код */
.banner{
  width: 200px;
  height: 100px;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    /* position: absolute;
    right: 24px;
    top: 24px;
    bottom: 10px; */
    text-align: center;
    width: 48px;
    height: 48px;
    float: right;
    background: 
#fff;
    border: 1px solid 
#ccc;
    box-shadow: 0 2px 4px 
rgba(0,0,0,0.15), inset 0 0 10px 
rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 5px 5px 0;
    padding: 6px;
    color: 
#000;
}
#git{
  position: absolute;
  right: 90px;
  top: 24px;
  bottom: 5px;
}
#telega{
  position: absolute;
    right: 24px;
    top: 24px;
    bottom: 5px;
}

.github a:hover {background: 
#191919; color: 
#fff;}
.telegram a:hover {background: 
#249bd7; color: 
#fff;} 

.navbar{
  margin: 10px 5px;
  padding: 15px;
  background-color: rgb(102,102,102);
  color: aliceblue;
  font-size: 20px;
  position: sticky;
  top: 10px;
}
#n1{
  text-decoration: underline;
}
#n2{
  text-decoration: underline;
}
#n3{
  text-decoration: underline;
}
#n4{
  text-decoration: underline;
}
#n5{
  text-decoration: underline;
}
#n6{
  text-decoration: underline;
}





@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 